<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container-fluid align-items-center">
    <div>
      <a class="navbar-brand" href="">
        <img src="assets/musicnote.svg" width="50" height="50" alt="">
      </a>
      <a class="navbar-brand" routerLink="usuarios">Usuários</a>
      <a class="navbar-brand" routerLink="musicas">Músicas</a>
    </div>
    <form class="d-flex input-group w-auto gap-2">
      <input
        type="search"
        class="form-control rounded"
        placeholder="Pesquisa"
        aria-label="Search"
        aria-describedby="button-addon2"
      />
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
    </form>
  </div>
</nav>